body{
    font-family: 'The Wild Breath of Zelda', sans-serif;
    background-image: linear-gradient(rgb(0,0,0,0.8), rgb(0,0,0,0)),url("images/Various-Items-the-legend-of-zelda-39768516-2560-1440.jpeg.crdownload");
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
}

.finder{
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    font-size: large;
}

.index-header{
    display: flex;
    justify-content: center;
    background-color: rgb(72, 91, 39);
    align-items: center;
    align-content: space-around;
}

.items-header{
    display: flex;
    justify-content: center;
    background-color: rgb(72, 91, 39);
    align-items: center;
    align-content: space-around;
}

.cart-header{
    display: flex;
    justify-content: center;
    background-color: rgb(72, 91, 39);
    align-items: center;
    align-content: space-around;
}

/* .nav-header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
} */