{% extends 'base.html' %}

{% block content%}
<div class="container">
    <h1 class="items-header" style="color:rgb(224, 234, 234)">WHAT IS IT YOU SEEK?</h1>
    <form class="finder" action="" method="POST" novalidate>
        {{ x.hidden_tag() }}
        <div class="search">
            <p>{{ x.item(class='form-control', placeholder='Enter Item') }}</p>
        </div>
        <div class="buttons">
            <p>{{ x.submit(class='btn btn-primary') }}</p>
        </div>
        <!-- <p>{{ invalid }}</p> -->
    </form>

    {% if item %}

    <div class="card-st mx-auto"
        style="width: 18rem; border-radius: 20px; border: solid; border-color: black; background-color: rgba(245, 245, 245, 0.4);">
        


        <div class="card-body">
            <img src="{{item.image}}" class="card-img-top" alt="item">
            <!-- <li class="card-text-head">XP: {{item.name.title()}}</li> -->
            <h5 class="card-title">{{item.name.title()}}</h5>
            <p class="card-text">QTY: {{item.quantity.title()}}</p>
            <p class="card-text">Info: {{item.description}}</p>
            <!-- <p class="card-text">DEF: {{pokemon.base_def}}</p> -->
        </div>
        <!-- {% if current_user.is_authenticated %}
        <div class="catch-butt">
            <a class="btn btn-warning" href="{{ url_for('monsters.pokeFinder') }}">Catch</a>
            <form method="POST" action="{{ url_for('monsters.catchPoke', id=pokemon.id) }}">
                <input type="hidden" name="name-catch" value="{{pokemon.name.title()}}" />
                <input id="cart-btn" type="submit" value="Add to Cart" name="cart-btn" />
            </form>
        </div>
        {% endif %} -->
    </div>
    {% endif %}


    {% endblock %}