{% extends 'base.html' %}

{% block content%}
<div class="container">
    <h1 class="items-header" style="color:rgb(224, 234, 234)">WHAT IS IT YOU SEEK?</h1>
    <form class="finder" action="" method="POST" novalidate>
        {{ x.hidden_tag() }}
        <div class="search">
            <p>{{ x.item(class='form-control', placeholder='Enter Item') }}</p>
        </div>
        <div class="buttons">
            <p>{{ x.submit(class='btn btn-primary') }}</p>
        </div>
        <!-- <p>{{ invalid }}</p> -->
    </form>

    {% if item %}

    <div class="card mx-auto"
        style="width: 25rem; border: solid; border-color: black; background-color: rgba(245, 245, 245);">
    
        <div class="card-body">
            <img src="{{item.img_url}}" class="card-img-top" alt="item">
            <h5 class="card-title">{{item.item.upper()}}</h5>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text-foot">QTY: {{item.quantity}}</p>
        </div>
        {% if current_user.is_authenticated %}
        <div class="ad2c-btn">
            <button onclick="add({cart})" type="button" class="btn btn-primary">Add to Cart</button>
          </div>
        {% endif %}  
    </div>
    {% endif %}

</div>
    {% endblock %}