{% extends 'base.html' %}

{% block content %}
<div class="card-sm6 mx-auto" style="width: 500px;height: 500px; margin-top:2rem; margin-bottom: 1rem;">
    <h1 style="color:rgb(224, 234, 234);">Login</h1>

    <form method= "POST" >
        {{ l.hidden_tag() }}
    
    
        {{ l.username(class='form-control', placeholder='Username') }}
        {{ l.password(class='form-control', placeholder='Password') }}
        {{ l.submit (class='btn btn-primary') }}
    </form>
</div>





{% endblock %}