{% extends 'base.html' %}



{% block content %}
<div class="card-sm6 mx-auto" style="width: 500px;height: 500px; margin-top:2rem; margin-bottom: 1rem;">
<h1 style="color:rgb(224, 234, 234);">Sign Up</h1>

<form method= "POST" >
    {{ form.hidden_tag() }}


    <!-- recently added first and last name. checked for functionality? y/n< >evan -->
    {{ form.username(class='form-control', placeholder='Username') }}
    {{ form.first_name(class='form-control', placeholder='First Name') }}
    {{ form.last_name(class='form-control', placeholder='Last Name') }}
    {{ form.email(class='form-control', placeholder='Email') }}
    {{ form.password(class='form-control', placeholder='Password') }}
    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
    {{ form.submit (class='btn btn-primary') }}
</form>

</div>
{% endblock %}