{% extends 'base.html' %}

{% block content%}
<div class="container">
  <h1 class="items-header" style="color:rgb(224, 234, 234)">HERE'S OUR WARES</h1>
  
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for item in items %}
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <img src="{{item.img_url}}" class="card-img-top" alt="item">
          <h5 class="card-title">{{item.item.upper()}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text-foot">QTY: {{item.quantity}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}